.pagination {
  font-family: $ff-s;
  display: flex;
  justify-content: center;
  li {
    list-style: none;
    font-size: 1.3rem;
    padding: 1rem;
    a {
      color: $primary-black;
    }
  }
}
