<!-- HEADER -->
<%- include('include/_header') %>
<!-- /HEADER -->

<div class="start-header">

    <div class="start-header-title">
        <h1>Webshop</h1>
    </div>
    <div class="start-header-links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</div>

<!-- FOOTER -->
<%- include('include/_footer') %>
<!-- /FOOTER -->