<% if (typeOf message != 'undefined') { %>
 <p class="message">
     <%= message %>
 </p>
<% } %>

<% if (succes_msg != '') { %>
<p class="success-msg"><%= success_msg %></p>
<% } %>

<% if (warning_msg != '') { %>
<p class="warning-msg"><%= warning_msg %></p>
<% } %>