<!--  HEADER -->
<%- include('include/_header') %>
    <!--  /HEADER -->
    <div class="login-container">
        <form action="/reset" method="post">

            <input type="email" name="email" id="" placeholder="Your email">
            <button type="submit">Send</button>

            <%- include("message") %>
        </form>
        <div class="back-link-shopping">
            <a href="/">Back to Start</a>
        </div>
    </div>


    <!--  FOOTER -->
    <%- include('include/_footer') %>
        <!--  /FOOTER -->