<!--  HEADER -->
<%- include('include/_header') %>
<!--  /HEADER -->

<form action="/reset" method="post">

    <input type="email" name="email" id="" placeholder="Your email">
    <button type="submit">Send</button>
    
    <%- include("message") %>
</form>
<a href="/">Back to Start</a>

<!--  FOOTER -->
<%- include('include/_footer') %>
<!--  /FOOTER -->