<!--  HEADER -->
<%- include('include/_header') %>
    <!--  /HEADER -->
    <div class="login-container">
        <%- include("message") %>
            <form action="/reset" method="post">

                <input type="email" name="email" id="" placeholder="Your email">
                <button type="submit">Send</button>


            </form>
            <a href="/">Back to Start</a>
    </div>


    <!--  FOOTER -->
    <%- include('include/_footer') %>
        <!--  /FOOTER -->