<!--  HEADER -->
<%- include('include/_header') %>
<!--  /HEADER -->

  <p>Tack! <%= user.name%>
  </p>
  <a href="/userStart">Continue shopping</a>

<!--  FOOTER -->
<%- include('include/_footer') %>
<!--  /FOOTER -->