@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");
.start-header {
  background-color: #342e37;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  text-align: center; }
  .start-header .start-header-title {
    flex: 2; }
    .start-header .start-header-title .logo {
      color: #dce1e3;
      flex: 1; }
  .start-header .start-header-links {
    flex: 3;
    display: flex;
    justify-content: flex-end; }
    .start-header .start-header-links a {
      padding-left: 10px; }

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 100vh;
  background-color: var(--clr-grey); }
  .login-container .login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 20px; }
    .login-container .login-container form .login-container form input {
      margin-bottom: 5px;
      padding: 5px; }
    .login-container .login-container form .login-container button {
      background-color: var(--clr-dark);
      color: var(--clr-light);
      padding: 3px;
      border-radius: 50px;
      margin-top: 5px; }
    .login-container .login-container form .login-container p {
      padding-bottom: 10px; }

.master_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .master_container .item {
    width: 400px;
    margin: 10px;
    background: #736f72;
    display: flex; }
    .master_container .item .product_item {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 100%; }
      .master_container .item .product_item .item_title {
        padding-bottom: 10px; }
      .master_container .item .product_item .img_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%; }
        .master_container .item .product_item .img_container .item_img {
          border-radius: 5px;
          width: 100%;
          height: 200px; }
      .master_container .item .product_item .item_info {
        padding-top: 10px;
        padding-bottom: 10px; }
        .master_container .item .product_item .item_info p {
          padding-top: 10px;
          padding-bottom: 10px; }
        .master_container .item .product_item .item_info .product-form {
          margin-bottom: 10px; }
        .master_container .item .product_item .item_info .wishlist_btn {
          color: #dce1e3; }

.pagination {
  font-family: "Roboto", sans-serif; }

.add-form {
  /* border: 1px solid black; */
  display: flex;
  margin: 10px; }
  .add-form form {
    display: flex;
    flex-direction: column; }
    .add-form form input {
      /* padding: 5px 0 5px 0; */
      margin: 5px;
      padding: 5px; }
    .add-form form button {
      border-radius: 50px;
      border: none;
      margin-top: 10px;
      padding: 5px;
      background-color: #dce1e3;
      color: #736f72; }

.products-container {
  width: 400px;
  max-width: 90%;
  margin: 10px;
  border-bottom: 1px solid black; }
  .products-container ul {
    list-style: none; }
    .products-container ul .products-li {
      /* padding-left: 10px; */
      background-color: #fafffd; }
      .products-container ul .products-li .products-content {
        display: flex;
        flex-direction: column; }
        .products-container ul .products-li .products-content .products-content span {
          padding-bottom: 10px; }
          .products-container ul .products-li .products-content .products-content span .products-content h3 {
            padding-bottom: 5px; }

.products-a-edit {
  padding: 10px;
  font-size: 1rem; }

.products-a-edit:hover {
  font-weight: bold; }

.products-a-delete {
  padding: 10px;
  font-size: 1rem;
  transition: opacity 500ms ease-in; }

.products-a-delete:hover {
  font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #342e37; }

a {
  text-decoration: none;
  color: #dce1e3; }

ol {
  padding-left: 30px;
  padding-top: 20px; }
  ol li {
    padding-bottom: 20px; }
